body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 0;
  background-color: #f4f4f4;
}

h2 {
  color: #333;
}

label {
  margin-top: 10px;
  display: block;
  font-weight: bold;
}

input[type="text"], button {
  margin-top: 3px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 200px;
  box-sizing: border-box; /* Para incluir el padding en el ancho total */
}

button {
  background-color: #0056b3;
  color: white;
  cursor: pointer;
  width: auto;
}

button:hover {
  background-color: #003d82;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #0056b3;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

#resultado {
  margin-top: 20px;
}

.input-container {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos en el centro */
    gap: 10px; /* Añade un poco de espacio entre el input y la label */
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  